<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/fragment/header.css">
    <link rel="stylesheet" href="/css/fragment/footer.css">
    <link rel="stylesheet" href="/css/board/boardWriteForm.css">
</head>
<body>

<!-- 네비게이션 -->
<div th:replace="~{fragment/header :: header}"></div>

<div class="notice-write-page">
    <h1 class="page-title">게시글 수정</h1>

    <form th:action="@{/board/update/{bno}(bno=${board.bno})}" method="post" class="notice-form">
        <table class="write-table">
            <tbody>
            <tr>
                <th>제목</th>
                <td>
                    <div class="title-row">
                        <input type="text" name="title" th:placeholder="${board.title}" class="title-input">
                    </div>
                </td>
            </tr>

            <tr>
                <th>본문</th>
                <td>
                    <div class="editor-box">
                        <textarea name="content" th:placeholder="${board.content}" class="editor-textarea"></textarea>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>

        <div class="notice-guide">
            <p>- 상품과 관련없는 내용 또는 이미지, 욕설/비방, 개인정보유출, 광고/홍보글 등 적합하지 않은 게시물은 별도의 고지없이 비공개 처리 될 수 있습니다.</p>
            <p>- 작성된 게시물(사진, 동영상 포함)은 운영 및 마케팅에 활용될 수 있습니다.</p>
        </div>

        <div class="button-row">

            <div class="right-buttons">
                <button type="submit" class="btn btn-primary">등록</button>
                <a th:href="@{/board/read/{bno}(boardId=${board.bno})}" class="btn btn-outline">뒤로</a>
            </div>

        </div>
    </form>
</div>

<!-- 푸터 -->
<div th:replace="~{fragment/footer :: footer}"></div>

</body>
</html>