<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cos.springstudy.mapper.BoardMapper">
    <!-- 게시글 리스트 조회 -->
    <select id="selectList" resultType="BoardDTO">
        <include refid="select" />
        ORDER BY bno DESC
    </select>

    <!-- 게시글 번호를 통한 게시글 조회 -->
    <select id="selectByBno" parameterType="Integer" resultType="BoardDTO">
        <include refid="select" />
        WHERE bno = #{bno}
    </select>

    <!-- 조회수 증가 -->
    <update id="increaseViewCnt" parameterType="Integer">
        UPDATE board
        SET view_cnt = view_cnt + 1
        WHERE bno = #{bno}
    </update>

    <!-- 게시글 작성 -->
    <insert id="insert" parameterType="BoardDTO">
        INSERT INTO board(title, content, member_id)
        VALUES(#{title}, #{content}, #{memberId})
    </insert>

    <!-- 게시글 삭제 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM board
        WHERE bno = #{bno}
    </delete>

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE board
        SET title = #{board.title}, content = #{board.content}
        WHERE bno = #{bno}
    </update>

    <!-- 게시글 개수 조회 -->
    <select id="selectCnt" resultType="Integer">
        <include refid="selectCnt" />
    </select>

    <!-- 검색 조건에 따른 게시글 개수 조회 -->
    <select id="selectCntBySc" parameterType="SearchCondition" resultType="Integer">
        <include refid="selectCnt" />
        WHERE 1 = 1
        <include refid="searchCondition" />
    </select>

    <!-- 페이지와 검색어에 따른 게시글 리스트 조회 -->
    <select id="selectListByPh" parameterType="PageHandler" resultType="BoardDTO">
        <include refid="select" />
        WHERE 1 = 1
        <if test="sc.option != null and sc.keyword != null">
            <choose>
                <when test="sc.option == 'title'">
                    AND title LIKE CONCAT('%', #{sc.keyword}, '%')
                </when>
                <when test="sc.option == 'content'">
                    AND content LIKE CONCAT('%', #{sc.keyword}, '%')
                </when>
                <otherwise>
                    AND title LIKE CONCAT('%', #{sc.keyword}, '%')
                    OR content LIKE CONCAT('%', #{sc.keyword}, '%')
                </otherwise>
            </choose>
        </if>
        ORDER BY bno DESC
        LIMIT #{PAGE_SIZE} OFFSET #{offset}
    </select>

    <sql id="select">
        SELECT *
        FROM board
    </sql>

    <sql id="selectCnt">
        SELECT COUNT(bno)
        FROM board
    </sql>

    <!-- 검색 조건 블록 -->
    <sql id="searchCondition">
        <if test="option != null and keyword != null">
            <choose>
                <when test="option == 'title'">
                    AND title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="option == 'content'">
                    AND content LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND title LIKE CONCAT('%', #{keyword}, '%')
                    OR content LIKE CONCAT('%', #{keyword}, '%')
                </otherwise>
            </choose>
        </if>
    </sql>
</mapper>