<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cos.springstudy.mapper.BoardMapper">
    <!-- 게시글 리스트 조회 -->
    <select id="selectList" resultType="BoardDTO">
        <include refid="select" />
        ORDER BY #{bno} DESC
    </select>

    <!-- 게시글 번호를 통한 게시글 조회 -->
    <select id="selectByBno" parameterType="Integer" resultType="BoardDTO">
        <include refid="select" />
        WHERE bno = #{bno}
    </select>

    <!-- 조회수 증가 -->
    <update id="increaseViewCnt" parameterType="Integer">
        UPDATE board
        SET view_cnt = view_cnt + 1
        WHERE bno = #{bno}
    </update>

    <!-- 게시글 작성 -->
    <insert id="insert" parameterType="BoardDTO">
        INSERT INTO board(title, content, member_id)
        VALUES(#{title}, #{content}, #{memberId})
    </insert>

    <!-- 중복 SELECT 문 블록 생성 -->
    <sql id="select">
        SELECT *
        FROM board
    </sql>
</mapper>